

body {
    background-color: lightblue;
}

.app-container {
    font-family: "Monaco", monospace;
}

li {
    list-style: none;
    padding: 0;
}



.main-layout {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;       
}

.search-section {
    width: 45%; 
}

.list-section {
    width: 45%; 
}





.search-results {
    background-color: #e0eafc;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}


.cached-foods {
    background-color: #fdebd0; 
    padding: 20px;
    border-radius: 8px;

}


.food-item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
}
.food-item-info{
    flex:1;
    padding-top: 1rem;
}


.food-item:last-child {
    margin-bottom: 0;
}

.calories-section{
    flex-basis: 70px;
    flex-shrink: 0;
    text-align: right;
}
.controls-section{
    flex-basis: 90px;
    flex-shrink: 0;
    text-align: center;
}




.add-button {
    font-size: 1rem;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: hsl(125, 47%, 54%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 8px;
    color: white;
}

.add-button:hover {
    background-color: hsl(125, 47%, 34%);
}

.remove-button {
    font-size: 1rem;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: hsl(10, 90%, 50%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 8px;
    color: white;
}

.remove-button:hover {
    background-color: hsl(10, 90%, 30%);
}

.servings-input {
    font-size: 1rem;
    background-color: hsl(0, 0%, 83%);
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-right: 1px;
    font-family: "Monaco", monospace;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 30px;
    text-align: center;
}

.servings-input:hover {
    background-color: hsl(0, 0%, 73%);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.food-list-title {
    background-color: antiquewhite;
}

.input-box {
    font-size: 1rem;
    background-color: hsl(0, 0%, 83%);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    font-family: "Monaco", monospace;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.input-box:hover {
    background-color: hsl(0, 0%, 73%);
}

button {
    transition: background-color 0.5s ease;
}

.search-button {
    font-size: 1rem;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: hsl(240, 100%, 67%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 8px;
    color: hsl(0, 0%, 100%);
}

.search-button:hover {
    background-color: hsl(240, 100%, 27%);
}

.clear-button {
    font-size: 1rem;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: hsl(0, 100%, 50%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 8px;
    color: white;
}

.clear-button:hover {
    background-color: hsl(0, 100%, 27%);
}

.warning-message {
    background-color: hsla(0, 77%, 76%, 0.973);
}